    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About Casey</h2>
              <br/>
                <p>Casey loves skiing, knitting (and crocheting), reading, looking at photos on pinterest, baking and cooking to become innovative, DOGS, and she loves her friends and family. Some things Casey aspires to is to growas a person and continue on with her journey of life, because why not?</p>
                <p>The dog in the photo above is Daisy. She is a fun loving, cuddly bichon-frise.</p>
                <p>This theme features stock photos by <a href="http://join.deathtothestockphoto.com//">Death to the Stock Photo</a>.</p>
                <p>Landing-Page includes full HTML, CSS, and custom JavaScript files along with LESS files for easy customization.</p>
                <br/>
              </div>
        </div>
    </section>
